# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/

# VS Code
.vscode/

# Output files
outputs/*
!outputs/class_distribution.png
!outputs/confusion_matrix.png
!outputs/training_history.png
!outputs/output_output_10_2_1.mp4
!outputs/output_10_2_1.mp4
!outputs/ut_interaction_model.pth

# Virtual Environment
venv/
ENV/ 